services:
    vln:
        image: curly/sg_vln:latest
        restart: always
        container_name: sg_vln
        entrypoint: zsh
        environment:
            - ACCEPT_EULA=Y
            - PRIVACY_CONSENT=Y
            - VNC_PASSWORD=curly
            - RESOLUTION=1920x1080
            - DISPLAY=${DISPLAY}
            - QT_GRAPHICSSYSTEM=native
            - NVIDIA_DRIVER_CAPABILITIES=all
            - TERM=xterm-256color
            - XAUTHORITY
        ports:
            - "5903:5900"
            - "6081:80"
            - "12345:12345"
        volumes:
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/cache/kit:/isaac-sim/kit/cache:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/cache/ov:$HOME/.cache/ov:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/cache/pip:$HOME/.cache/pip:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/cache/glcache:$HOME/.cache/nvidia/GLCache:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/cache/computecache:$HOME/.nv/ComputeCache:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/logs:$HOME/.nvidia-omniverse/logs:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/data:$HOME/.local/share/ov/data:rw
            # - $HOME/Projects/VLN/isaac_sim/isaac_files/documents:$HOME/Documents:rw
            # VINO
            # - /home/junzhewu/Projects:/root/Projects:rw
            # - /media/sdd1/hm3d_dataset:/data:rw
            # - /mnt/workspace/datasets/habitat_datasets:/mnt_habitat_datasets:rw
            # - /media/sdd1/isaac_vlnce_assets:/media/sdd1/isaac_vlnce_assets:rw
            # CLOUDY
            # RAINY
            - $HOME/junzhewu/Projects/:/root/Projects:rw
            - $HOME/data:/data:rw
            # GOLDEEN
            # - /home/huyu/junzhe/Projects:/root/Projects:rw
            # - /home/huyu/junzhe/datasets:/data:rw
            # - /mnt/workspace/datasets/habitat_datasets:/mnt/workspace/datasets/habitat_datasets:rw
            # - /mnt/workspace/users/huyu/junzhe/VLN_dump:/root/Projects/VLN/ext_dump/:rw
            # ISAAC Cache
            - $HOME/isaac/cache_kit:/isaac-sim/kit/cache
            - $HOME/isaac/cache_ov:/root/.cache/ov
            - $HOME/isaac/cache_pip:/root/.cache/pip
            - $HOME/isaac/cache_gl:/root/.cache/nvidia/GLCache
            - $HOME/isaac/cache_compute:/root/.nv/ComputeCache
            - $HOME/isaac/logs:/root/.nvidia-omniverse/logs
            - $HOME/isaac/data:/root/.local/share/ov/data
            - $HOME/isaac/lab_docs:/dependencies/IsaacLab/docs/_build
            - $HOME/isaac/lab_logs:/dependencies/IsaacLab/logs
            - $HOME/isaac/lab_data:/dependencies/IsaacLab/data_storage
            # X11 Forwarding
            - /tmp/.X11-unix:/tmp/.X11-unix:rw
            - $HOME/.Xauthority:/root/.Xauthority:rw
            # ZSH
            - .zshrc:/root/.zshrc:rw
            - .zsh_history:/root/.zsh_history:rw
        ulimits:
            nofile:
                soft: 65536
                hard: 65536
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          count: all
                          capabilities: [ gpu ]
